@import "./helpers/var";
@import "./base/reset";

.navbar{
    background-color: $p-color;
    color: #ffffff;
    padding: $padding-s;
    a{
        color: aqua;
    }
}

.btn{
    background-color: $p-color;
    display: inline-block;
    padding: $padding-s;
}

.btn:hover{
    background-color: darken($p-color,10%);
}


.footer{
    background-color: $p-color;
    color: #ffffff;
    padding: $padding-s;
}